<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>246527514842-9dqo181a9ml8notnu00f1r1bk6h8ervf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.246527514842-9dqo181a9ml8notnu00f1r1bk6h8ervf</string>
	<key>API_KEY</key>
	<string>AIzaSyCH8sPWXX3gmdwJqKEuGoYCKnPMnaQAHxw</string>
	<key>GCM_SENDER_ID</key>
	<string>246527514842</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.quickGlimpse.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>quick-glimpes</string>
	<key>STORAGE_BUCKET</key>
	<string>quick-glimpes.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:246527514842:ios:dacb064d0cea38a1efede3</string>
</dict>
</plist>